/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/
database/database.sqlite
public/css/
public/js/
docs/
public/vendor/
public/application.manifest
public/cacher.min.js
npm-debug.log